:root {
    --primary: rgb(0, 46, 196);
    --secondary: rgb(0, 102, 255);
    --get-color: #b71c1c;
    --give-color: #33691e;
    --get-color-bg: #ffeaea;
    --give-color-bg: #e9ffe0;
    --gray: #ebebeb;
}